<a href="https://colab.research.google.com/github/Jeongyoon-Jang/covid19_data_analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC(2020)2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [ ]:
# 상권변화지표를 1,0으로 표현, 변수 제거

In [4]:
dd = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/data2020_1.csv")
dd

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2020         3  1001496  ...         정체          123           63
1        2020         3  1001495  ...       다이나믹          106           53
2        2020         3  1001494  ...         정체          150           72
3        2020         3  1001493  ...         정체          126           62
4        2020         3  1001492  ...         정체          152           63
...       ...       ...      ...  ...        ...          ...          ...
4450     2020         1  1000005  ...       다이나믹           90           50
4451     2020         1  1000004  ...       상권확장           81           56
4452     2020         1  1000003  ...         정체          113           60
4453     2020         1  1000002  ...       상권축소          116           48
4454     2020         1  1000001  ...       상권확장           97           56

[4455 rows x 17 columns]

In [5]:
dd['상권_변화_지표'].replace("HH", 1, inplace=True)
dd

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2020         3  1001496  ...         정체          123           63
1        2020         3  1001495  ...       다이나믹          106           53
2        2020         3  1001494  ...         정체          150           72
3        2020         3  1001493  ...         정체          126           62
4        2020         3  1001492  ...         정체          152           63
...       ...       ...      ...  ...        ...          ...          ...
4450     2020         1  1000005  ...       다이나믹           90           50
4451     2020         1  1000004  ...       상권확장           81           56
4452     2020         1  1000003  ...         정체          113           60
4453     2020         1  1000002  ...       상권축소          116           48
4454     2020         1  1000001  ...       상권확장           97           56

[4455 rows x 17 columns]

In [6]:
dd['상권_변화_지표'].replace("LL", 1, inplace=True)
dd

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2020         3  1001496  ...         정체          123           63
1        2020         3  1001495  ...       다이나믹          106           53
2        2020         3  1001494  ...         정체          150           72
3        2020         3  1001493  ...         정체          126           62
4        2020         3  1001492  ...         정체          152           63
...       ...       ...      ...  ...        ...          ...          ...
4450     2020         1  1000005  ...       다이나믹           90           50
4451     2020         1  1000004  ...       상권확장           81           56
4452     2020         1  1000003  ...         정체          113           60
4453     2020         1  1000002  ...       상권축소          116           48
4454     2020         1  1000001  ...       상권확장           97           56

[4455 rows x 17 columns]

In [7]:
dd['상권_변화_지표'].replace("LH", 1, inplace=True)
dd

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2020         3  1001496  ...         정체          123           63
1        2020         3  1001495  ...       다이나믹          106           53
2        2020         3  1001494  ...         정체          150           72
3        2020         3  1001493  ...         정체          126           62
4        2020         3  1001492  ...         정체          152           63
...       ...       ...      ...  ...        ...          ...          ...
4450     2020         1  1000005  ...       다이나믹           90           50
4451     2020         1  1000004  ...       상권확장           81           56
4452     2020         1  1000003  ...         정체          113           60
4453     2020         1  1000002  ...       상권축소          116           48
4454     2020         1  1000001  ...       상권확장           97           56

[4455 rows x 17 columns]

In [8]:
dd['상권_변화_지표'].replace("HL", 0, inplace=True)
dd

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2020         3  1001496  ...         정체          123           63
1        2020         3  1001495  ...       다이나믹          106           53
2        2020         3  1001494  ...         정체          150           72
3        2020         3  1001493  ...         정체          126           62
4        2020         3  1001492  ...         정체          152           63
...       ...       ...      ...  ...        ...          ...          ...
4450     2020         1  1000005  ...       다이나믹           90           50
4451     2020         1  1000004  ...       상권확장           81           56
4452     2020         1  1000003  ...         정체          113           60
4453     2020         1  1000002  ...       상권축소          116           48
4454     2020         1  1000001  ...       상권확장           97           56

[4455 rows x 17 columns]

In [10]:
dd = dd.drop(["상권_변화_지표_명","운영_영업_개월_평균","폐업_영업_개월_평균"], axis=1)
dd

      기준_년_코드  기준_분기_코드    상권_코드  ... 총_직장_인구_수  아파트_단지_수  상권_변화_지표
0        2020         3  1001496  ...   15904.0       0.0         1
1        2020         3  1001495  ...   24375.0      22.0         1
2        2020         3  1001494  ...   32935.0       5.0         1
3        2020         3  1001493  ...    6054.0       8.0         1
4        2020         3  1001492  ...  104830.0       0.0         1
...       ...       ...      ...  ...       ...       ...       ...
4450     2020         1  1000005  ...    1797.0      41.0         1
4451     2020         1  1000004  ...      56.0      41.0         1
4452     2020         1  1000003  ...    3686.0       5.0         1
4453     2020         1  1000002  ...     201.0       5.0         0
4454     2020         1  1000001  ...     842.0      26.0         1

[4455 rows x 14 columns]

In [11]:
dd = dd.set_index(["기준_년_코드","기준_분기_코드","상권_코드","상권_코드_명"]) 
dd

                                                  총_유동인구_수  ...  상권_변화_지표
기준_년_코드 기준_분기_코드 상권_코드   상권_코드_명                            ...
2020    3        1001496 강남 마이스 관광특구               97662.0  ...         1
                 1001495 잠실 관광특구                 2998786.0  ...         1
                 1001494 종로?청계 관광특구              3815342.0  ...         1
                 1001493 동대문패션타운 관광특구            3023573.0  ...         1
                 1001492 명동 남대문 북창동 다동 무교동 관광특구  3679541.0  ...         1
...                                                    ...  ...       ...
        1        1000005 백석동길                     178717.0  ...         1
                 1000004 명륜길                      623119.0  ...         1
                 1000003 돈화문로11가길                 178244.0  ...         1
                 1000002 난계로27길                   347131.0  ...         0
                 1000001 계동길                      336343.0  ...         1

[4455 rows x 10 columns]

In [ ]:
dd.to_csv("/content/drive/My Drive/Colab Notebooks/seouldata/data2020_3.csv")