<a href="https://colab.research.google.com/github/Jeongyoon-Jang/covid19_data_analysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC(2019)2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# 상권변화지표를 1,0으로 표현, 변수 제거

In [4]:
dd = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/seouldata/data2019_1.csv")
dd

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2019         1  1000001  ...       상권확장         88.0         57.0
1        2019         1  1000002  ...       상권축소        116.0         47.0
2        2019         1  1000003  ...         정체        113.0         56.0
3        2019         1  1000004  ...       상권확장         88.0         57.0
4        2019         1  1000005  ...       다이나믹         85.0         51.0
...       ...       ...      ...  ...        ...          ...          ...
4450     2019         3  1001491  ...         정체        117.0         59.0
4451     2019         3  1001492  ...         정체        145.0         62.0
4452     2019         3  1001493  ...         정체        122.0         61.0
4453     2019         3  1001495  ...       다이나믹        101.0         53.0
4454     2019         3  1001496  ...         정체        116.0         61.0

[4455 rows x 17 columns]

In [8]:
dd['상권_변화_지표'].replace("HH", 1, inplace=True)

In [9]:
dd['상권_변화_지표'].replace("LL", 1, inplace=True)

In [10]:
dd['상권_변화_지표'].replace("LH", 1, inplace=True)

In [12]:
dd['상권_변화_지표'].replace("HL", 0, inplace=True)
dd

      기준_년_코드  기준_분기_코드    상권_코드  ... 상권_변화_지표_명  운영_영업_개월_평균  폐업_영업_개월_평균
0        2019         1  1000001  ...       상권확장         88.0         57.0
1        2019         1  1000002  ...       상권축소        116.0         47.0
2        2019         1  1000003  ...         정체        113.0         56.0
3        2019         1  1000004  ...       상권확장         88.0         57.0
4        2019         1  1000005  ...       다이나믹         85.0         51.0
...       ...       ...      ...  ...        ...          ...          ...
4450     2019         3  1001491  ...         정체        117.0         59.0
4451     2019         3  1001492  ...         정체        145.0         62.0
4452     2019         3  1001493  ...         정체        122.0         61.0
4453     2019         3  1001495  ...       다이나믹        101.0         53.0
4454     2019         3  1001496  ...         정체        116.0         61.0

[4455 rows x 17 columns]

In [13]:
dd = dd.drop(["상권_변화_지표_명","운영_영업_개월_평균","폐업_영업_개월_평균"], axis=1)
dd

      기준_년_코드  기준_분기_코드    상권_코드  ... 총_직장_인구_수  아파트_단지_수  상권_변화_지표
0        2019         1  1000001  ...     348.0      29.0         1
1        2019         1  1000002  ...     486.0       3.0         0
2        2019         1  1000003  ...    4822.0       2.0         1
3        2019         1  1000004  ...     104.0      39.0         1
4        2019         1  1000005  ...    1080.0      37.0         1
...       ...       ...      ...  ...       ...       ...       ...
4450     2019         3  1001491  ...    5797.0      67.0         1
4451     2019         3  1001492  ...  133878.0       0.0         1
4452     2019         3  1001493  ...    6683.0       6.0         1
4453     2019         3  1001495  ...   26843.0      20.0         1
4454     2019         3  1001496  ...   18430.0       0.0         1

[4455 rows x 14 columns]

In [14]:
dd = dd.set_index(["기준_년_코드","기준_분기_코드","상권_코드","상권_코드_명"]) 
dd

                                                    점포_수  ...  상권_변화_지표
기준_년_코드 기준_분기_코드 상권_코드   상권_코드_명                          ...
2019    1        1000001 계동길                       217.0  ...         1
                 1000002 난계로27길                    116.0  ...         0
                 1000003 돈화문로11가길                  301.0  ...         1
                 1000004 명륜길                        82.0  ...         1
                 1000005 백석동길                       62.0  ...         1
...                                                  ...  ...       ...
        3        1001491 이태원 관광특구                 1698.0  ...         1
                 1001492 명동 남대문 북창동 다동 무교동 관광특구   8598.0  ...         1
                 1001493 동대문패션타운 관광특구            12927.0  ...         1
                 1001495 잠실 관광특구                  2162.0  ...         1
                 1001496 강남 마이스 관광특구               859.0  ...         1

[4455 rows x 10 columns]

In [ ]:
dd.to_csv("/content/drive/My Drive/Colab Notebooks/seouldata/data2019_3.csv")